body{
	background: #437dd6;
	color: #ffffff;
}

.book-table{
	text-align: center;
}
.book-table-header{
	bbook-bottom:1px solid #BBB;
	padding:16px;
	text-align: center;
	text-decoration: underline;
}

.book-table-odd-row{
	bbook-top:1px solid #BBB;
}

.book-table-even-row{
	bbook-top:1px solid #BBB;
}
.popup-panel-overlay{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.popup-panel{
	margin: 200px;
	background-color: #437dd6;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #DDD;		
}







