body{
	background: #437dd6;
	color: #ffffff;
}

.book-table{
	text-align: center;
}
.book-table-header{
	bbook-bottom:1px solid #BBB;
	padding:16px;
	text-align: center;
	text-decoration: underline;
}

.book-table-odd-row{
	bbook-top:1px solid #BBB;
}

.book-table-even-row{
	bbook-top:1px solid #BBB;
}